@import './mixins';

:root {
    // -------------
    // COLOR PALETTE
    // -------------
    /* BLUE */
    --color-blue--100: #d7e1ff;
    --color-blue--200: #c4d2ff;
    --color-blue--300: #9eb3ff;
    --color-blue--400: #6b82ff;
    --color-blue--500: #4e5cfc; // -- main color
    --color-blue--600: #3842bb;
    --color-blue--700: #191f62;
    --color-blue--800: #020316;
    --color-blue--900: #000003;
    /* PURPLE */
    --color-orchid: #baa3e9;
    --color-purple--500: #8f54fe;
    --color-eggplant: #3c1169;
    /* BROWN SHADES*/
    --color-cafe: #f1d3a9;
    --color-choco: #97713b;
    /* GREEN SHADES */
    --primary-green: #34a56c;
    --primary-teal: #18bfa0;
    --primary-yellow: #fff200;
    /*RED SHADES*/
    --color-orange: #f30302;
    --color-red: #cf042a;
    --color-pink: #ff65be;

    /* NEUTRAL COLORS  */
    --color-gray-200: #c5c5c5;
    --color-gray--700: #1c1c1d;
    --color-gray--800: #121213;
    --color-gray--900: #090909;

    /* BRANDING AND SITE COLORS */
    --primary-site-color: var(--color-red);
    --secondary-site-color: var(--color-purple);

    // Background Colors
    --background-color--dark: var(--color-gray--900);
    --background-color: var(--color-gray--800);

    // Surface Colors
    --surface-color-primary: var(--color-blue--900);

    // Text Colors
    --text-color-800: var(--color-gray--800);
    --text-color-200: var(--color-gray-200);
    --text-color-primary: var(--primary-site-color);

    // Gradients
    --text-gradient-primary: -webkit-linear-gradient(
        120deg,
        var(--primary-site-color) 0%,
        var(--secondary-site-color) 75%
    );
    --text-gradient-secondary: -webkit-linear-gradient(
        120deg,
        var(--color-orange) 0%,
        var(--color-red) 75%
    );

    /* BUTTON-COLORS */
    --button-color-primary: var(--primary-site-color);
    --button-color-secondary: var(--secondary-site-color);

    /* BOX-SHADOW */
    --box-shadow-primary-d1: -2px 12px 8px -8px rgba(3, 3, 3, 0.85);
    --box-shadow-primary-d2: -4px 28px 22px -8px rgba(0, 0, 0, 0.75);
    --box-shadow-light-gray: -12px 10px 22px -6px rgba(32, 32, 32, 0.309);
    --box-shadow-gray: -12px 20px 40px 10px rgba(23, 23, 23, 0.325);
    /* BOX-SHADOW COLORED*/
    --box-shadow-green: -2px 2px 0px 0px rgba(46, 240, 146, 0.65);

    --box-shadow-btn-primary: -5px 12px 2px -100px rgba(3, 3, 3, 0.95);

    /* LINEAR GRADIENTS */
    --linear-gradient-primary-translucent: linear-gradient(
        180deg,
        #87844447 0%,
        #bf321dc7 100%
    );

    --linear-gradient-purple-cafe: linear-gradient(
        180deg,
        var(--color-eggplant) 50%,
        var(--color-cafe) 80%
    );

    // --linear-gradient-secondary-translucent: linear-gradient(
    //     180deg,
    //     #fff20047 0%,
    //     #bf321dc7 100%
    // );
}

/* COLOR BACKGROUND */
.background-gradient-yellow {
    background-image: linear-gradient(
        120deg,
        var(--primary-yellow) 0%,
        var(--color-orange) 100%
    );
}

.background-gradient-green {
    background-image: linear-gradient(
        to right,
        var(--primary-green) 0%,
        var(--primary-teal) 100%
    );
}

.background-gradient-red {
    background-image: linear-gradient(
        120deg,
        var(--color-red) 35%,
        var(--color-orange) 110%
    ) !important;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &:focus {
        outline: thin dashed var(--color-gray--900);
    }
}

html {
    font-size: 62.5%; /* (62.5/100) * 16px = 10px */
}

html,
body {
    border: 0;
    font-size: 1.8rem;
    font: inherit;
    vertical-align: baseline;
}
body {
    font-family: 'Poppins', sans-serif;
    background: var(--background-color);
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    color: var(--text-color-200);
}

input,
textarea {
    font-size: 100%;
    font: inherit;
    font-weight: initial;
    border: none;
    outline: none;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/*
==============================
SCROLLBAR
==============================
*/
::-webkit-scrollbar {
    width: 8px !important;
}
::-webkit-scrollbar-track {
    background: var(--color-gray--900);
}
::-webkit-scrollbar-thumb {
    border-radius: 12px !important;
    background: var(--color-red);
}

/*
==============================
BUTTONS
==============================
*/
button {
    outline: none;
    border: none;
    display: block;
    cursor: pointer;
    -webkit-appearance: none;
}
.button {
    border-radius: 6px;
    padding: 18px 20px;
    margin: 0 auto;
    text-align: center;
}

.button-primary {
    background: var(--button-color-primary);
    color: var(--text-color-200);
    font-size: 18px;

    &:hover {
        box-shadow: var(--box-shadow-btn-primary);
        background: var(--color-cafe);
        color: var(--color-gray--900) !important;
    }
}
