@import './mixins';

/*
==============================
CSS ROOT VARIABLES
==============================
*/
html {
  /* COLORS */
  --color-blue: #4e5cfc;
  --color-dark-blue-900: #0d0f29;
  --color-dark-blue-500: #1b1f52;
  --color-pink: #fc74f8;
  --color-purple: #a45ad8;
  --color-green: #2ff093;
  --color-teal: #38f9d7;
  --color-yellow: #ffd324;
  --color-orange: #fb5d45;
  --color-orange: #bf321d;
  --color-red: #cf042a;

  /* NEUTRAL COLORS  */
  --color-black: #010101;
  --color-gray-800: #161616;
  --color-gray-200: #d8d8d8;
  --color-gray-100: #eae8e8;

  /* PRIMARY/SECONDARY COLORS */
  --color-primary: var(--color-red);
  --color-secondary: var(--color-yellow);

  /* BACKGROUND-COLORS */
  --background-color--dark: var(--color-dark-blue-900);
  --background-color: var(--color-primary);

  /* SURFACE-COLORS */
  --surface-color-primary: var(--color-dark-blue-500);

  /* TEXT-COLORS */
  --text-color-200: var(--color-gray-200);
  --text-color-100: var(--color-gray-100);

  /* TEXT-GRADIENTS */
  --text-gradient-primary: -webkit-linear-gradient(
    120deg,
    var(--color-primary) 0%,
    var(--color-secondary) 75%
  );
  --text-gradient-secondary: -webkit-linear-gradient(
    120deg,
    var(--color-yellow) 0%,
    var(--color-orange) 100%
  );

  --text-gradient-pink: -webkit-linear-gradient(
    120deg,
    var(--color-pink) 0%,
    var(--color-purple) 75%
  );

  /* BOX-SHADOW */
  --box-shadow-black: 6px 20px 30px -8px rgb(7, 7, 7, 0.75);
  --box-shadow-light-gray: 6px 20px 30px -8px rgb(7, 7, 7, 0.35);
  --box-shadow-gray: 6px 20px 30px -8px rgb(7, 7, 7, 0.75);
}

/* COLORS-BACKGROUND */
.background-gradient-yellow {
  background: linear-gradient(
    120deg,
    var(--color-yellow) 0%,
    var(--color-orange) 100%
  );
}

.background-gradient-blue {
  background: linear-gradient(
    120deg,
    var(--color-blue) 0%,
    var(--color-dark-blue-500) 80%
  );
}

.background-gradient-green {
  background-image: linear-gradient(
    to right,
    var(--color-green) 0%,
    var(--color-teal) 100%
  );
}

.background-gradient-red {
  background: linear-gradient(
    120deg,
    var(--color-red) 35%,
    var(--color-orange) 110%
  );
}

.background-gradient-gray {
  background: linear-gradient(120deg, var(--color-black) 20%, #222222 120%);
}

/*
==============================
BASE ELEMENTS
==============================
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:focus {
    outline: thin dotted var(--color-secondary);
  }
}

html,
body {
  border: 0;
  font-size: 16px;
  vertical-align: baseline;
}
body {
  font-family: 'Poppins', sans-serif;
  // background: linear-gradient(
  //   to bottom,
  //   var(--background-color) 3%,
  //   var(--background-color--dark) 98.9%
  // );

  // TODO: Use background-color variable as that is used in app.js
  background: var(--color-black);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color-200);
}

input,
textarea {
  font-size: 1rem;
  font: inherit;
  font-weight: initial;
  border: none;
  outline: none;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

$section-spacing: 80px;
$section-gutter: 20px;
// $section-max-width: 1024px;

/* COMMON SECTION STYLING */
section {
  padding: $section-spacing $section-gutter;
}
/*
==============================
SCROLLBAR
==============================
*/
// ::-webkit-scrollbar {
//   width: 5px !important;
//   background: rgba(15, 8, 69, 0.4);
//   filter: blur(6px);
// }
// ::-webkit-scrollbar-track {
//   //   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5) !important;
//   background: rgba(10, 5, 75, 0.4);
//   opacity: 0;
//   filter: blur(6px);
// }
// ::-webkit-scrollbar-thumb {
//   filter: blur(1px);
//   border-radius: 2px !important;
//   background: linear-gradient(
//     to bottom,
//     var(--color-red) 50%,
//     var(--color-orange) 95%
//   );
// }

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: Make scrollbar invisible */
}

/*
==============================
BUTTONS
==============================
*/
button,
.button {
  outline: none;
  display: block;
  cursor: pointer;
  border: none;
  min-width: 110px;
  border-radius: 6px;
  padding: 18px 20px;
  margin: 0 auto;
  text-align: center;
  -webkit-appearance: none;

  // Button variants
  // .button-primary
  &-primary {
    background: var(--color-primary);
    color: var(--text-color-100);
    @include font-rem(16px);

    &:hover {
      box-shadow: var(--box-shadow-black);
    }
  }
}
