@import './mixins';

/* CARD */
.cards-container {
    display: flex;
    margin: 25px auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    margin: 10px 0;
    border-radius: 38px;
    border: 3px solid var(--primary-site-color);
    min-width: 120px;
    color: var(--text-color-200);
    background: var(--surface-color-primary);
    box-shadow: var(--box-shadow-primary-d1);
    overflow: hidden;
    transform: scale(0.99);
    transition: transform 0.48s ease;

    &:hover {
        box-shadow: var(--box-shadow-primary-d2);
        transform: scale(1);
    }

    .image--small {
        max-width: 50px;
        min-width: 50px;
        height: 50px;
        margin: 20px 0;
        overflow: hidden;
        border-radius: 4px;
        user-select: none;
    }
}

/* separators */
.separator--small {
    display: block;
    margin: 45px auto;
    width: 20%;
    height: 1px;
    background-color: var(--color-gray--800);

    &--large {
        width: 80%;
    }
}

/* LOGO DESIGN */
.c-logo {
    width: 45px;
    height: 45px;

    img {
        width: 100%;
    }
}

/* carousel container */
.carousel-container {
    margin: 50px auto;
    overflow-x: hidden;
    padding: 5px 20px 50px;
    width: 100%;
}
.carousel {
    animation: scrollLeft 45s linear infinite;
    display: flex;
    justify-content: center;
    position: relative;
}

@keyframes scrollLeft {
    0% {
        left: 0;
    }
    100% {
        left: -90%;
    }
}
.carousel-element {
    align-items: center;
    background-color: var(--surface-color-primary);
    border-radius: 12px;
    box-shadow: var(--box-shadow-primary-d1);
    color: var(--text-color-200);
    display: flex;
    font-weight: 600;
    height: 70px;
    justify-content: center;
    margin-right: 12px;
    min-width: 250px;
    padding: 10px;

    img {
        margin-right: 13px;
    }
}

.c-pokemon-card {
    background-color: var(--color-orchid);
    border: 3px solid var(--color-gray--800);
    border-radius: 18px;
    box-shadow: var(--box-shadow-light-gray);
    color: var(--text-color-200);
    display: flex;
    flex-direction: column;
    min-width: 100px;
    overflow: hidden;

    &:hover {
        box-shadow: var(--box-shadow-gray);
    }
    &__container {
        background-color: var(--color-purple--500);
        overflow: hidden;
    }

    &__header {
        background-color: var(--color-orchid);
        min-height: 50px;
        padding: 20px;
        text-align: center;
        width: 100%;

        p {
            color: var(--text-color-800);
            font-weight: bold;
        }
    }

    &__body {
        padding: 30px 20px;
        text-align: center;
    }

    &__footer {
        width: 100%;
        text-align: center;
        padding: 12px 0px;
        // border-top: 2px solid var(--color-gray--800);
        color: var(--text-color-800);
        background-color: var(--color-orchid);

        @include media-breakpoint-tablet {
            padding: 15px 0px;
        }
    }
}

/* TOOLTIP */
.tooltiptext {
    visibility: hidden;
    min-width: 188px;
    background-color: var(--surface-color-primary);
    color: var(--text-color-200);
    text-align: center;
    border-radius: 4px;
    padding: 5px 5px;
    position: absolute;
    top: -40px;
    left: -20px;
    z-index: 1;
    box-shadow: var(--box-shadow-primary-d1);
}

.neumo--small {
    background: var(--background-color--dark);
    box-shadow: inset 10px 10px 20px #08080c, inset -10px -10px 20px #09090b;
}
.neumo--large {
    background: var(--background-color--dark);
    box-shadow: inset 18px 18px 28px #0b0b0b, inset -18px -18px 28px #080808;
}
