@import './mixins';

/* HERO SECTION*/
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 980px;
    height: 110vh;
    margin-bottom: 100px;
    padding: 1.233vw 35px;

    @include media-breakpoint-tablet {
        padding: 20px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 16px auto;
        min-height: 600px;
        perspective: 1500px;
        max-width: 1224px;
        z-index: 10;

        @include media-breakpoint-tablet {
            justify-content: center;
            align-items: flex-end;
            padding: 40px 30px;
        }
    }

    .hero-text {
        position: relative;
        width: 100%;
        max-width: 800px;
        padding: 20px 10px;
        text-align: left;
        transform: translate3d(0, 0, 38px);

        @include media-breakpoint-tablet {
            text-align: right;
        }

        &__image {
            position: absolute;
            transform: scale(1.4);
            top: 75px;
            left: 320px;
            // right: -(18% - 12) * 1px;

            @include media-breakpoint-tablet {
                transform: scale(1.9);
                top: 100px;
                right: 476px;
                left: unset;
            }
        }
        h1 {
            font-size: 100px;
            -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: #1c1c1c;
            letter-spacing: -10px;
            color: var(--color-cafe) !important;

            @include media-breakpoint-tablet {
                font-size: 148px;
            }
        }

        p {
            font-size: 22px;
            letter-spacing: 4.2px;
            text-transform: uppercase;
            font-weight: 800;
            color: var(--color-cafe);
        }
    }

    &__illustration {
        width: 100%;
        position: relative;
        transition: all 0.2s ease-out;
        z-index: -2;
        background-color: #ecdcbe;
        border: 2px solid var(--color-gray--900);
        border-radius: 14px;
        padding: 25px;

        @include media-breakpoint-tablet {
            max-width: 400px;
            background-size: contain;
            position: absolute;
            top: 6.334vw;
            left: -210px;
        }

        @include media-breakpoint-desktop {
            left: 60px;
        }

        &__guy {
            width: 89%;
            min-width: 280px;
            max-width: 400px;
            transform: translate3d(0, 0, 80px);
            margin: 10px auto;
            img {
                width: 100%;
            }

            @include media-breakpoint-tablet {
                // width: 350px;
            }
        }

        $grid-top-position: 330px;
        $grid-item-top-offset: 360px;
        &__grid {
            position: absolute;
            top: $grid-top-position;
            width: 100%;
            min-height: 100px;
            background: url('../images/hero/grid.png');
            background-repeat: repeat-x;
            background-size: contain;
            transform: translate3d(0, 0, 10px);

            @include media-breakpoint-tablet {
                right: 20px;
                top: 220px;
                width: 20%;
                min-height: 400px;
                background-repeat: repeat-y;
            }
        }

        $item-translate-z: 140px;

        // &__controller {
        //     position: absolute;
        //     width: 85px;
        //     top: $grid-item-top-offset;
        //     left: 20px;
        //     transform: translate3d(0, 0, $item-translate-z);
        //     background: url('../images/hero/brush-effect.png');
        //     background-size: contain;
        //     background-repeat: no-repeat;

        //     @include media-breakpoint-tablet {
        //         top: 465px;
        //         left: auto;
        //         right: 40px;
        //     }

        //     img {
        //         display: block;
        //         margin: -5px auto 0;
        //         width: 92%;
        //         max-width: 74px;
        //     }
        // }

        // &__keyboard {
        //     position: absolute;
        //     width: 85px;
        //     top: $grid-item-top-offset;
        //     right: 20px;
        //     transform: translate3d(0, 0, $item-translate-z);
        //     background: url('../images/hero/brush-effect.png');
        //     background-size: contain;
        //     background-repeat: no-repeat;

        //     @include media-breakpoint-tablet {
        //         top: 300px;
        //         right: 40px;
        //     }

        //     img {
        //         width: 98%;
        //         display: block;
        //         margin: -5px auto 0;
        //     }
        // }
    }

    &__cta {
        min-width: 280px;
        border-radius: 40px;
        border: 3px solid var(--color-gray--900);
        color: var(--color-gray--900) !important;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        margin: 20px;
        position: absolute;
        bottom: 20px;

        @include media-breakpoint-tablet {
            position: relative;
        }
    }
}
