/* hero starts */
.projects-hero-container {
    position: relative;
    min-height: 600px;
    padding: 100px 30px;
    margin: 0 auto;
    background-image: var(--gradient-linear-black);
}
.projects-hero-content {
    max-width: 1100px;
    width: 95%;
    padding: 20px;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    z-index: 1;

    h1 {
        max-width: 550px;
    }
}
.projects-hero-background {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.2;
    background-image: url('../images/projects/projects-hero-background.png');
    width: 100%;
    height: 400px;
    background-size: 792px 380px;
}
/* hero ends */

.iphone-image-sns {
    background-image: url('../images/projects/thumbs/featured/car-wash.png');
    background-position: center -10px;
}

.iphone-image-ashutoshjainvi {
    background-size: 270px;
    background-image: url('../images/projects/thumbs/front-end/front-end-1.png');
}

.iphone-image-tt {
    background-size: 375px;
    background-image: url('../images/projects/thumbs/front-end/tt-logo.png');
}

.image-testing {
    background-size: 375px;
    background-image: url('../images/projects/thumbs/front-end/education.png');
}

.image-scrolls {
    background-image: url('../images/projects/thumbs/front-end/scrolls-book.png');
}

.image-ping-pong {
    background-image: url('../images/projects/thumbs/front-end/ping-pong.png');
}

.section-intro {
    width: 100%;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 60px 80px;
    border: 1px solid var(--primary-site-color);
    h2 {
        letter-spacing: -1px;
        font-size: 28px;
    }

    p {
        max-width: 92%;
        font-size: 15px;
    }

    &__skillset {
        margin: 15px 2px;
    }

    &__image {
        min-height: 60px;
        width: 40px;
        padding: 10px 5px 0;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.section-intro-link {
    display: inline-block;
    font-weight: 700;
    color: var(--text-color-200);
    margin: 15px 0;
    font-size: 14px;
}

.section-intro-skill {
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
    color: var(--text-color-200);
}

.section-intro:hover .section-intro-skill {
    transform: translateY(-1px);
}

.skill-orange {
    background: rgba(255, 141, 94, 0.4);
}

.skill-blue {
    background: rgba(13, 97, 181, 0.4);
}

.ui-project-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 40px;
    row-gap: 100px;
}
