@import './mixins';

/* MAIN WEB CONTAINER */
.papa-wrapper {
    overflow-x: hidden;
}

$section-spacing: 80px;
$section-gutter: 20px;
$section-max-width: 144rem;

/* COMMON SECTION STYLING */
section {
    padding: $section-spacing $section-gutter;

    .container {
        max-width: $section-max-width;
        width: 95%;
        margin: 0 auto;
    }
}

.section {
    &__header {
        margin: 85px auto;
        text-align: left;
        padding: 20px 0 0;
        width: 100%;

        p {
            color: var(--text-color-200);
            margin: 20px auto;
            max-width: 550px;
        }
    }
}

$feature-zone-bg-color: var(--color-gray--900);

/* FEATURE ZONE */
.feature-zone {
    width: 100%;
    background: $feature-zone-bg-color;
    min-height: 550px;
}

.careers-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.career {
    width: 39%;
    max-width: 255px;
    margin-bottom: 80px;
    transform: scale(0.94, 0.94);
    opacity: 0.79;
    transition: all 0.3s ease-out;

    &:hover {
        transform: scale(1, 1);
        opacity: 0.99;
    }

    &__content {
        height: 100%;
        min-height: 260px;

        .cloud-engineer-img {
            width: 180px;
        }
    }

    .job-details {
        position: relative;

        &__header {
            font-weight: bold;
        }

        &__info {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-height: 0;
            margin-top: 0;
            overflow: hidden;
            transition: margin-bottom 0.3s ease-in, max-height 0.34s ease-in-out;

            // class added in JS
            &.opened {
                max-height: 800px;
                margin-bottom: 20px;
            }

            .job-stats {
                display: flex;
                flex-direction: row;
                align-items: stretch;
                border-radius: 18px;
                padding: 22px;

                @include media-breakpoint-tablet {
                    padding: 40px;
                }

                &__skills {
                    display: grid;
                    grid-template-rows: auto;
                    grid-template-columns: 1fr;
                    grid-template-areas:
                        'header'
                        'content';
                    row-gap: 20px;

                    @include media-breakpoint-desktop {
                        padding-right: 40px;
                        border-right: 1px dotted var(--primary-green);
                    }

                    .header {
                        grid-area: header;
                    }

                    .job-skills {
                        grid-area: content;
                        display: grid;
                        // grid-auto-columns: 40px;
                        // grid-template-columns: repeat(auto-fill, 40px);
                        grid-auto-flow: column;
                        grid-auto-rows: 40px;
                        gap: 14px 16px;

                        // @include media-breakpoint-tablet {
                        //     grid-template-columns: repeat(3, 40px);
                        // }

                        // @include media-breakpoint-desktop {
                        //     grid-template-columns: repeat(3, 40px);
                        // }
                        &__icon {
                            user-select: none;
                            width: 40px;
                            .image {
                                width: 100%;
                                border-radius: 10px;
                            }
                        }
                    }
                }

                &__resume {
                    display: none;
                    width: 100%;
                    padding: 80px;
                    min-height: 100%;
                    margin-left: 22px;
                    border: 1px solid var(--background-color--dark);
                    text-align: center;

                    @include media-breakpoint-desktop {
                        display: block;
                    }

                    &:hover {
                        border: 1px solid var(--primary-green);
                    }
                }
            }
        }

        &__toggle {
            position: absolute;
            bottom: -30px;
            left: 44%;
            border-radius: 100%;
            width: 46px;
            height: 46px;
            padding: 10px;
            background: var(--surface-color-primary);
            border: 2px solid var(--primary-yellow);
            img {
                width: 24px;
                transform: rotate(90deg);
                transform-origin: center;
                transition: transform 0.12s ease-in;
            }
        }
    }
}

.timeline {
    overflow: hidden;
    &__dial {
        grid-column: 1 / span 5;
        grid-row: 2;
        &__hand {
            width: 1px;
            float: left;
            height: 40px;
            margin-bottom: 18px;
            background-color: var(--primary-green);
            box-shadow: var(--box-shadow-primary-d1);

            &--long {
                height: 70px;
            }
        }
    }

    &__container {
        &__timestamp {
            width: 100%;
            margin-bottom: 40px;
            transform: scale(0.95);
            transition: all 0.5s ease-in-out;
        }
    }
}

.svg-wave {
    max-height: 200px;
    position: absolute;
    width: 100vw;
    left: 0;
    height: auto;
    transform: translateY(-150px);

    &--bottom {
        z-index: 1;
        transform: translateY(0px);
    }
    &--top {
        z-index: 1;
        transform: translateY(-195px) rotate(180deg);
    }
}

.svg-wave-path {
    fill: $feature-zone-bg-color;
}

.resume-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--surface-color-primary);
    border-radius: 12px;
    cursor: pointer;
    box-shadow: var(--box-shadow-primary);

    img {
        position: absolute;
        top: -7px;
        right: -8px;
        width: 24px;
    }
}
.about-me {
    .personal-cards {
        display: flex;
        gap: 2rem;
        flex-direction: row;

        .card {
            background: radial-gradient(
                100% 100%,
                50% 100% rgba(243, 3, 2, 1) 25%,
                rgba(0, 0, 0, 0.2) 75%
            );
            min-height: 550px;
            min-width: 400px;

            .card__copy {
                padding: 3rem 2rem;
            }
        }

        .card-new-born {
            // background-color: var(--color-red);
        }
    }
}
/* contact section*/
.contact {
    padding: 16px 0;
}
.contact-form {
    max-width: 900px;
    width: 80%;
    margin: 48px auto;
}
.contact-form input[type='text'],
.contact-form textarea {
    background: var(--surface-color-primary--darker);
    padding: 14px;
    border-radius: 6px;
    width: 100%;
    color: var(--text-color-200);
    margin-bottom: 18px;
}
.contact-form textarea {
    height: 180px;
    resize: none;
}
/* start footer */
.footer {
    max-width: 1100px;
    margin: 10px auto;
    border-top: 1px solid rgba(82, 82, 82, 0.33);
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.footer-left ul li a {
    width: 67px;
    height: 67px;
    display: block;
}
.footer-left ul li {
    display: inline-block;
    margin-right: 8px;
}

.flinkedin {
    background: url(../images/footer-social-icons2.png) no-repeat 0 0;
    &:hover {
        background: url(../images/footer-social-icons2.png) no-repeat 0 -67px;
    }
}

.fgit {
    background: url(../images/footer-social-icons2.png) no-repeat -134px 0;
    &:hover {
        background: url(../images/footer-social-icons2.png) no-repeat -134px -67px;
    }
}

.fpin {
    background: url(../images/footer-social-icons2.png) no-repeat -268px 0;
    &:hover {
        background: url(../images/footer-social-icons2.png) no-repeat -268px -67px;
    }
}

.footer-right p {
    color: var(--text-color-200);

    a {
        color: var(--text-color-primary);
    }
}

.fgit:hover .tooltiptext,
.flinkedin:hover .tooltiptext,
.fgit:hover .tooltiptext,
.fpin:hover .tooltiptext {
    visibility: visible;
}
/*
==============================
MEDIA QUERIES
==============================
*/
/* MOBILE ONLY MEDIA QUERY */
@media only screen and (max-width: 768px) {
    .contact-form {
        width: 95%;
        margin: 32px auto;
    }
    .footer {
        justify-content: center;
        padding: 25px;
    }
    .footer-right {
        margin-top: 20px;
    }
}
