@import './mixins';

/* MAIN WEB CONTAINER */
.papa-wrapper {
    overflow-x: hidden;
}

$section-spacing: 80px;
$section-gutter: 20px;
$section-max-width: 1024px;

/* COMMON SECTION STYLING */
section {
    padding: $section-spacing $section-gutter;

    .container {
        max-width: $section-max-width;
        width: 95%;
        margin: 0 auto;
    }
}

.section-header {
    margin: 100px auto;
    text-align: center;
    padding: 20px 0 0;

    p {
        color: var(--text-color-300);
        margin: 20px auto;
        max-width: 550px;
    }
}

/* FEATURE ZONE */
.feature-zone {
    width: 100%;
    background: var(--background-color--dark);
    min-height: 550px;

    .section-header {
        width: 400px;
        margin-bottom: 80px;
    }

    .career {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 30px 0;

        $card-wrapper-width: 90%;

        &__years {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 30px;

            .year {
                width: 50px;
                height: 60px;
                padding: 20px 16px;
                margin-right: 12px;
                border-radius: 4px;
                margin-right: 3%;

                &.active {
                    border: 1px solid var(--primary-green);
                }
            }
        }
        &__intro {
            display: flex;
            flex-direction: column;
            justify-content: end;
            width: $card-wrapper-width;
            min-height: 320px;
            background-image: linear-gradient(
                    180deg,
                    #030403a9 0%,
                    #0b170fd1 100%
                ),
                url('../images/dsw-office.jpeg');
            background-size: cover;
            z-index: 10;
        }

        .job-details {
            width: ($card-wrapper-width) * 0.95;
            padding-top: 50px;
            margin: -40px 0 0;
            min-height: 310px;

            &.dialog {
                background-image: url('../images/career/designer-brands-bg.png');
                background-size: 50px;
            }

            &__info {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 30px 0;
                .job-stats {
                    display: flex;
                    flex-direction: row;
                    align-items: stretch;
                    border-radius: 18px;
                    padding: 40px;

                    &__skills {
                        display: grid;
                        grid-template-rows: 3;
                        grid-template-columns: 1;
                        grid-template-areas:
                            'header'
                            'content'
                            'footer';
                        row-gap: 20px;

                        @include media-breakpoint-tablet {
                            padding-right: 40px;
                            border-right: 1px dotted var(--primary-green);
                        }

                        .header {
                            grid-area: header;
                        }

                        .job-skills {
                            grid-area: content;
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            grid-template-rows: auto;
                            column-gap: 16px;
                            row-gap: 14px;

                            @include media-breakpoint-tablet {
                                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                            }
                            &__icon {
                                max-width: 50px;
                                min-width: 50px;
                                height: 50px;
                                user-select: none;
                                .image {
                                    width: 100%;
                                    border-radius: 10px;
                                }
                            }
                        }
                    }

                    &__resume {
                        width: 100%;
                        padding: 80px;
                        min-height: 100%;
                        margin-left: 22px;
                        border: 1px solid var(--background-color--dark);

                        &:hover {
                            border: 1px solid var(--primary-green);
                        }
                    }
                }
            }
        }
    }

    .timeline {
        overflow: hidden;
        &__dial {
            grid-column: 1 / span 5;
            grid-row: 2;
            &__hand {
                width: 1px;
                float: left;
                height: 40px;
                margin-bottom: 18px;
                background-color: var(--primary-green);
                box-shadow: var(--box-shadow-primary-d1);

                &--long {
                    height: 70px;
                }
            }
        }

        &__container {
            &__timestamp {
                width: 100%;
                margin-bottom: 40px;
                transform: scale(0.95);
                transition: all 0.5s ease-in-out;

                &.active {
                    transform: scale(1.08);
                }
            }
        }
    }
}

.svg-wave {
    max-height: 200px;
    position: absolute;
    width: 100vw;
    left: 0;
    height: auto;
    transform: translateY(-150px);

    &--bottom {
        z-index: 1;
        transform: translateY(0px);
    }
    &--top {
        z-index: 1;
        transform: translateY(-195px) rotate(180deg);
    }
}

.svg-wave-path {
    fill: var(--background-color--dark);
}

.resume-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--surface-color-primary);
    border-radius: 12px;
    cursor: pointer;
    box-shadow: var(--box-shadow-primary);

    img {
        position: absolute;
        top: -7px;
        right: -8px;
        width: 24px;
    }
}
.about-me {
    .personal-cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        column-gap: 40px;
        row-gap: 40px;

        @include media-breakpoint-tablet {
            grid-template-columns: 1fr 1fr;
            column-gap: 25px;
        }
    }
}
/* contact section*/
.contact {
    padding: 16px 0;
}
.contact-form {
    max-width: 900px;
    width: 80%;
    margin: 48px auto;
}
.contact-form input[type='text'],
.contact-form textarea {
    background: var(--surface-color-primary--darker);
    padding: 14px;
    border-radius: 6px;
    width: 100%;
    color: var(--text-color-300);
    margin-bottom: 18px;
}
.contact-form textarea {
    height: 180px;
    resize: none;
}
/* start footer */
.footer {
    max-width: 1100px;
    margin: 10px auto;
    border-top: 1px solid rgba(82, 82, 82, 0.33);
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.footer-left ul li a {
    width: 67px;
    height: 67px;
    display: block;
}
.footer-left ul li {
    display: inline-block;
    margin-right: 8px;
}

.flinkedin {
    background: url(../images/footer-social-icons2.png) no-repeat 0 0;
    &:hover {
        background: url(../images/footer-social-icons2.png) no-repeat 0 -67px;
    }
}

.fgit {
    background: url(../images/footer-social-icons2.png) no-repeat -134px 0;
    &:hover {
        background: url(../images/footer-social-icons2.png) no-repeat -134px -67px;
    }
}

.fpin {
    background: url(../images/footer-social-icons2.png) no-repeat -268px 0;
    &:hover {
        background: url(../images/footer-social-icons2.png) no-repeat -268px -67px;
    }
}

.footer-right p {
    color: var(--text-color-300);

    a {
        color: var(--text-color-primary);
    }
}

.fgit:hover .tooltiptext,
.flinkedin:hover .tooltiptext,
.fgit:hover .tooltiptext,
.fpin:hover .tooltiptext {
    visibility: visible;
}
/*
==============================
MEDIA QUERIES
==============================
*/
/* MOBILE ONLY MEDIA QUERY */
@media only screen and (max-width: 768px) {
    .card {
        padding: 20px 25px;
    }
    .contact-form {
        width: 95%;
        margin: 32px auto;
    }
    .footer {
        justify-content: center;
        padding: 25px;
    }
    .footer-right {
        margin-top: 20px;
    }
}
