.preserve-3d {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

/* DISPLAY */
.hidden {
    visibility: hidden;
}
.display-none {
    display: none;
}
.no-shadow {
    box-shadow: none !important;
}
/* SHAPES */
.circle {
    border-radius: 100%;
}
/* MARGINS */
.mt-20 {
    margin-top: 20px;
}

.u-blend-overlay {
    mix-blend-mode: overlay;
}
