/* reference to @theme to allow custom properties and Tailwind utilities in this CSS module  */
@reference "../../index.css";

.container {
  --gradient-angle: 180deg;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--width-lg);
  background-color: var(--color-red-2);
  background: linear-gradient(
    var(--gradient-angle),
    rgba(161, 5, 21, 1) 25%,
    rgba(161, 5, 21, 0.9) 65%,
    rgba(73, 9, 16, 0.66) 80%,
    rgba(16, 16, 16, 0) 86%
  );
  /* allow extra padding for smooth gradient transition */
  padding-bottom: 10rem !important;
  @apply rounded-4xl md:rounded-5xl p-8 items-center;
}

.container.reverseGradient {
  --gradient-angle: 0deg;
  /* allow extra padding for smooth gradient transition */
  padding-top: 10rem !important;
}
