.pill {
  display: inline-block;
  padding: 0.4rem 2.25em;
  text-align: center;
  border: 2px solid var(--color-primary);
  background-color: var(--color-bg-primary);
  max-width: 100%;
  width: max-content;
  z-index: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.pill.noBorder {
  border: none;
}

.pill.primary {
  border-color: var(--color-primary);
}

.pill.secondary {
  border: none;
}

.overlap-left {
  padding-left: 6rem;
  text-align: left;
}

.overlap-right {
  padding-right: 6rem;
  text-align: right;
}

@media (max-width: 500px) {
  .pill {
    border-radius: 0.75rem !important;
    width: auto;
    max-width: 100%;
    padding: 0.4rem 1.25em;
  }

  .overlap-left {
    padding-left: 1.25em;
    text-align: center;
  }

  .overlap-right {
    padding-right: 1.25em;
    text-align: center;
  }
}