.pill {
  display: inline-block;
  padding: 0.4rem 2.25em;
  text-align: center;
  border: 2px solid var(--color-primary);
  background-color: var(--color-bg-primary);
  /* min-width: 100%; */
  width: max-content;
  z-index: 1;
}

.pill.noBorder {
  border: none;
}

.pill.primary {
  border-color: var(--color-primary);
}

.pill.secondary {
  border-color: var(--color-secondary);
}