.home {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.backgroundWrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-repeat: repeat-x;
  background-position: center top;
  background-size: 900px;
  pointer-events: none;
  z-index: 0;
  opacity: 0.3;
}

.heroSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: calc(4vw - 1rem);
  z-index: 1;
}

.heroContainer {
  position: relative;
  display: flex;
  width: min(var(--width-lg), 100%);
  min-width: var(--width-sm);
  align-items: center;
  flex-direction: column;
}

.heroScene {
  width: min(var(--width-sm), 69%);
}

.meetCaption {
  background-image: url('../../assets/stroke.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 1rem;
}

.craftSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: calc(4vw - 1rem);
  z-index: 1;
}

.craftContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--width-lg);
  background-color: var(--color-red-2);
  background: linear-gradient(
    180deg,
    rgba(161, 5, 21, 1) 25%,
    rgba(161, 5, 21, 0.9) 65%,
    rgba(73, 9, 16, 0.66) 80%,
    rgba(16, 16, 16, 0) 88%
  );
  padding-bottom: 8rem;
}

.discoverSection {
  position: relative;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.discoverContainer {
  width: 100%;
  max-width: var(--width-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discoverCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing-md);
}
