.Card {
  min-width: 100px;
  min-height: 500px;
  border-radius: var(--round-md);
  background-color: var(--color-bg-secondary);
  border: var(--round-md) solid var(--color-border-primary);
  padding: 1.25rem 1.675rem;
  max-width: 196px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.Card:hover {
  border-color: var(--color-primary);
}