.card {
  position: relative;
  min-height: 360px;
  border-radius: var(--round-md);
  background: var(--color-border-primary);
  width: 266px;
  cursor: pointer;
}

.cardContent {
  position: absolute;
  height: 80%;
  width: 100%;
  background-color: var(--color-bg-secondary);
  padding: 1.25rem 1.675rem;
  border-radius: var(--round-xs);
  z-index: 1;
}
