.Nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  width: 100%;
  z-index: 100;
}

.CircleSurface {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.LogoImage {
  width: 1rem;
  z-index: 1;
}

.MenuButton {
  background: none;
  border: none;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
}