@import "tailwindcss";


@theme {
  --font-display: 'Abril Fatface', serif;
  --font-mono: 'Inconsolata', monospace;
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --radius-5xl: 3.5rem;
}
:root {
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  --font-family-primary: 'Abril Fatface', serif;
  --font-family-secondary: 'Inconsolata', monospace;

  /* ======= COLORS ======== */

  --color-red-1: #e31329;
  --color-red-2: #a10515;
  --color-yellow: #f5c58c;
  --color-gray-1: #101010;
  --color-gray-2: #161616;
  --color-gray-3: #343434;
  --color-gray-4: #dddddd;

  --color-primary: var(--color-red-1);
  --color-secondary: var(--color-yellow);
  --color-tertiary: var(--color-gray-4);
  --color-bg-primary: var(--color-gray-1);
  --color-bg-secondary: var(--color-gray-2);
  --color-text-primary: var(--color-tertiary);
  --color-border-primary: var(--color-gray-3);

  /* ======= WIDTHS ======== */
  --width-xxl: 1400px;
  --width-xl: 1200px;
  --width-lg: 960px;
  --width-md: 720px;
  --width-sm: 540px;
  --width-xs: 360px;
  --width-xxs: 320px;

  /* ====== GRADIENTS ======= */
  --linear-gradient-primary: linear-gradient(
    180deg,
    var(--color-red-1) 25%,
    var(--color-red-2) 140%
  );
}
* {
  box-sizing: border-box;
}

html {
  /* TODO: change font size based on screen size */
  font-size: 16px;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
  font-family: var(--font-family-secondary);
}
body {
  background-color: var(--color-bg-primary);
  margin: 0;
  border: 0;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
}
a {
  font-weight: 500;
  text-decoration: none;
}