@import "tailwindcss";


@theme {
  --font-display: var(--font-family-primary);
  --font-title: var(--font-family-primary);
  --font-mono: var(--font-family-secondary);
  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-red-dark);
  --color-primary-darker: var(--color-red-darker);
  --color-secondary: var(--color-secondary);
  --color-secondary-light: var(--color-yellow-light);
  --radius-5xl: 3.5rem;
}

:root {
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  --font-family-primary: 'Ultra', serif;
  --font-family-secondary: 'Space Mono', monospace;

  /* ======= COLORS ======== */

  --color-red-lighter: #fac4ca;
  --color-red-light: #f04f60;
  --color-red-light-alpha: rgba(240, 79, 96, 0.5);
  --color-red: #e31329;
  --color-red-dark: #a10515;
  --color-red-dark-alpha: #a1051554;
  --color-red-darker: #3B050B;
  --color-yellow-light: #FFE4C4;
  --color-yellow: #f5c58c;
  --color-gray-darkest: #101010;
  --color-gray-darker: #161616;
  --color-gray-dark: #343434;
  --color-gray: #4a4a4a;
  --color-gray-light: #dddddd;
  --color-gray-lighter: #f8f8f8;

  --color-primary: var(--color-red);
  --color-primary-dark: var(--color-red-dark);
  --color-primary-darker: var(--color-red-darker);
  --color-secondary: var(--color-yellow);
  --color-secondary-light: var(--color-yellow-light);
  --color-bg-primary: var(--color-gray-darkest);
  --color-bg-secondary: var(--color-gray-darker);
  --color-border-primary: var(--color-gray-dark);
  --color-border-secondary: var(--color-gray);
  --color-text-primary: var(--color-gray-lighter);
  --color-text-secondary: var(--color-gray-light);

  /* ======= WIDTHS ======== */
  --width-xxl: 1400px;
  --width-xl: 1200px;
  --width-lg: 960px;
  --width-md: 720px;
  --width-sm: 540px;
  --width-xs: 360px;
  --width-xxs: 320px;

  /* ====== GRADIENTS ======= */
}

html {
  font-size: 16px;
  line-height: 1.3;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
  font-family: var(--font-family-secondary);
}

body {
  background-color: var(--color-bg-primary);
  overflow-x: hidden;
  min-height: 100vh;
}

a {
  font-weight: 500;
  text-decoration: none;
}