.path {
  animation: draw 4s ease forwards;
  stroke-dasharray: 1000; /* big enough to cover path length */
  stroke-dashoffset: 1000;
}
.letterM {
  animation-delay: 0s;
  /* stroke-dasharray: 459.5755310058594;
  stroke-dashoffset: 459.5755310058594; */
}
.letterE1 {
  animation-delay: 0.1s;
  /* stroke-dasharray: 255.024169921875;
  stroke-dashoffset: 255.024169921875; */
}
.letterE2 {
  animation-delay: 0.2s;
  /* stroke-dasharray: 255.024169921875;
  stroke-dashoffset: 255.024169921875; */
}
.letterT {
  animation-delay: 0.3s;
  /* stroke-dasharray: 271.89276123046875;
  stroke-dashoffset: 271.89276123046875; */
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.fillIn {
  animation: fillFlicker 1s linear forwards;
  animation-delay: 1.5s; /* after stroke finishes */
}

/* @keyframes fillIn {
  from {
    fill: transparent;
  }
  to {
    fill: var(--color-primary);
  }
} */


@keyframes fillFlicker {
  0%   { fill: transparent; }
  5%  { fill: var(--color-primary) }
  15%  { fill: transparent; }
  25%  { fill: var(--color-primary) }
  30%  { fill: transparent; }
  40%  { fill: var(--color-primary) }
  65%  { fill: transparent; }
  80%  { fill: var(--color-primary); }
  90%  { fill: transparent; }
  100% { fill: var(--color-primary) }
}